html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.lilbitch {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: pink;
}

img {
  width: 30%;
  margin: 100px;
  box-shadow: 10px 10px 10px white;
  max-width: 350px;
}

.Boba {
  text-align: center;
  font-size: 10rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: pink;
}
